#content {
    float: left;
    width: 80%;
    height: 700px;
}

#menu {
    float: left;
    width: 50%;
    height: 400px;
}

#menu1 {
    float: left;
    width: 50%;
    height: 400px;
}


.section {
    float: left;
    width: 100%;
    height: 15%;
}

.section_main {
    float: left;
    width: 50%;
    height: 400px;
}

.section_test {
    float: left;
    width: 100%;
    height: 400px;
}


#test {
    width: 100%;
    height: 100%;
}

#test2 {
    width: 100%;
    height: 100px;
}